	#bg:before {
		background: rgba(101, 129, 187, 0.5);
	}
	#header .logo {
		margin: 0 auto;
	}

	#header .content {
		display: inline-block;
	}

	#header nav ul {
		display: inline-block;
	}

		#header nav ul li {
			display: inline-block;
		}

/* Main */

	#main article {
		margin: 0 auto;
	}